<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ultra Universal Remote Watch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Ultra Universal Remote Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Ultra Universal Remote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17123B251EB41D7E00C0C621</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17123B3E1EB41D7E00C0C621</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17123B491EB41D7E00C0C621</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>172C92B31EBBF32500B948DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
